*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.piano {
    width: 1000px;
    height: 100%;
    margin: 300px auto;
    box-shadow: 20px 5px 50px black;
    border-radius: 10px;
}

.piano_settings {
    background: linear-gradient(#333, #222);
    color: white;
    display: flex;  
    justify-content: space-between;
    padding: 25px;     
    border-radius: 10px 10px 0 0 ;
}

.switcher {
    width: 50px;
    height: 25px;
    background-color: #555;
    border-radius: 50px;
    padding: 4px;
    margin-top: 6px;
    display: flex;
}

.switcher_button {
    aspect-ratio: 1/1;
    background-color: #c4c4c4;
    border-radius: 100%;
    display: flex;
}

.showKeysOn {
    justify-content: flex-end;
    background: linear-gradient(rgb(157, 215, 157), green);
}

.keys {
    display: flex;
    height: 210px;
    text-align: center;
    padding: 20px 40px 0;
    background: linear-gradient(black, #333);
    border-radius: 0px 0px 10px 10px;
}



.key {
    border: 1px solid black;
    width: 100%;
    background: linear-gradient(#fffafa, white  );
    border-radius: 2px 2px 8px 8px;
    border-bottom: 8px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.key.sust {
    background: linear-gradient(black, #222);
    color: white;
    height: 110px;
    width: 40%;
    border-bottom: 8px solid #181818;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 1;
}